.left{
    text-align: left;
}

.logo{
    padding-left: 10px;
    padding-top: 5px;
    width: 52px;
    height: 16px;
    text-align: left;
}

.screen{
    width: 205px;
    height: 54px;
    /* UI Properties */
    text-align: right;
    font: normal normal 300 46px/55px Helvetica Neue;
    letter-spacing: 0px;
    color: #EDEDEE;
    opacity: 1;
}