.layout{
    top: 100px;
left: 100px;
width: fit-content;
height: 370px;
/* UI Properties */
background: #514F55 0% 0% no-repeat padding-box;
box-shadow: 0px 10px 40px #00000080;
border-radius: 10px;
opacity: 1;
}